<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>storyboardSampleObjC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>242BBFB81C3F939E0043C28E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>242BBFD11C3F939E0043C28E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>242BBFDC1C3F939E0043C28E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
